/* You can add global styles to this file, and also import other style files */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}
html, body{
  background: #f4f5f9;
  font-size: 14px;
  margin: 0;
  font-family: 'Ubuntu';
  position: relative;
	display: block;
  margin: 0px;
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
html,
html a {
  -webkit-font-smoothing: antialiased !important;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}
input, textarea, select, button {
    -webkit-writing-mode: horizontal-tb;
}
input::-webkit-input-placeholder {
	color: #888;
	font-weight:normal;
}
input[type="button"],
input[type="submit"]{
	cursor:pointer;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
:after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
hr {
    border: 0;
    color: #9fa6ad;
    background-color: #9fa6ad;
    height: 1px;
    margin-bottom: 20px;
}
a{
	text-decoration: none;
	color:inherit;
	cursor:pointer;
}
a:hover{
	text-decoration: underline;
}
ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
}
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    white-space: nowrap;
}

h2{
  font-weight: 400;
font-size: 1.7rem;
color: #444;
margin: 1em 0;
}

form.ng-submitted .ng-invalid
{
  /*  border:1px solid #f00;*/
}
[type="checkbox"]{

}
[type="checkbox"]+span{
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
[type="checkbox"]+span:before,
[type="checkbox"]+span:after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	border-radius: 2px;
	-webkit-transition: .2s time;
	-o-transition: .2s time;
	transition: .2s time;
}
[type="checkbox"]+span:before,
[type="checkbox"]:checked+span:before{
	width: 14px;
	height: 14px;
	margin-top: 3px;
	border: 1px solid #555;
}
[type="checkbox"]:checked+span:before{
	border: 1px solid #555;
	z-index: 0;
}
[type="checkbox"]:checked+span:after{
	width: 5px;
	left: 1px;
	height: 10px;
	margin-top: 2px;
	border-top: 3px solid transparent;
	border-left: 0px solid transparent;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	-webkit-transform: rotateZ(37deg);
	transform: rotateZ(37deg);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.strike{
	text-decoration: line-through;
}
